@model List<LexiconLMS.Models.Modul>
<hr />
@{
    ViewBag.Title = "List Of Modules in the course";
}


<div>
    <h4> @TempData["course"] Course</h4>

    <h5>@TempData["courseDescription"]</h5>

    <hr />

    <h4>Moduls:-</h4>
    <ul>
    
        @foreach (var item in Model)
        {
            <li>
                <a href="~/Moduls/Details/@item.Id">@item.ModulName</a>
            </li>
        }
    </ul>
    <hr />
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
