@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "Kurslista";
}

<div class="container-fluid container-xs-height" id="main-container">
    <div class="row row-xs-height">
        <div class="col-sm-3 col-md-2 sidebar col-xs-height">
            @*list of all courses goes here*@
            <h3>Kurslista</h3>
            <hr id="coursesHR" />
            <div class="list-group">
                @foreach (var item in Model)
                {
                    @Ajax.ActionLink(item.CourseName, 
                   "Details", 
                   new { id = item.CourseId }, 
                   new AjaxOptions { UpdateTargetId = "workspace" }, 
                   new { @class = "list-group-item" })
                }


                <hr id="coursesHR" />

                @Ajax.ActionLink("Ny Kurs", // <-- Text to display
            "Create", // <-- Action Method Name
            new AjaxOptions
            {
                UpdateTargetId = "workspace", // <-- DOM element ID to update
                InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                HttpMethod = "GET" // <-- HTTP method
            })
                <hr id="coursesHR" />
            </div>
        </div>

        <div class="col-sm-9 col-md-10 main col-xs-height">
            @*clicked links are displayed here*@
            <div id="workspace">


            </div>

        </div>

    </div>
</div>
