@model IEnumerable<LexiconLMS.Models.Course>

@{
    ViewBag.Title = "List Of Courses";
}

<div class="container-fluid container-xs-height" id="main-container">
    <div class="row row-xs-height">
        <div class="col-sm-3 col-md-2 sidebar col-xs-height">
            @*list of all courses goes here lists are separated by 'ul' for example*@
            <h3>Course List</h3>
                <div class="list-group">
                    @foreach (var item in Model)
                    {
                        @Ajax.ActionLink(item.CourseName, "Details", new { id = item.CourseId }, new AjaxOptions { UpdateTargetId = "workspace" }, new { @class="list-group-item" })
                    }
                </div>
        </div>

        <div class="col-sm-9 col-md-10 main col-xs-height">

            @*clicked links are displayed here*@
            <div id="workspace">


            </div>
            
            <p>
                @Ajax.ActionLink("Create New Course", // <-- Text to display
                 "Create", // <-- Action Method Name
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

                |

                @Ajax.ActionLink("Create New Module", // <-- Text to display
                 "Create", // <-- Action Method Name
                 "Moduls",
                 new AjaxOptions
                 {
                     UpdateTargetId = "workspace", // <-- DOM element ID to update
                     InsertionMode = InsertionMode.Replace, // <-- Replace the content of DOM element
                     HttpMethod = "GET" // <-- HTTP method
                 })

            </p>
        </div>

    </div>
</div>
